# --------- pytorch --------- #
torch==2.0.1
torchvision==0.15.2
lightning==2.0.5
torchmetrics==1.0.1

# --------- dvc --------- #
dvc[s3]==3.5.1

# --------- loggers --------- #
neptune<1.3

# --------- misc --------- #
albumentations==1.3.1
click==8.1.5
opencv-contrib-python==4.8.0.74
pandas==2.0.3
pvlib==0.10.1
timm==0.9.2
transformers==4.31.0
tqdm==4.65.0

# ----- model export ----- #
onnx==1.14.0
onnxsim==0.4.33

# ----- tests, linters ----- #
flake8==6.1.0
pytest==7.4.2
